<!--Quick View popup-->
<div class="modal fade quick-view-popup" id="content_quickview">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="ProductSection-product-template" class="product-template__container prstyle1">
          <div class="product-single">
          <!-- Start model close -->
          <a href="javascript:void()" data-dismiss="modal" class="model-close-btn pull-right" title="close"><span class="bi bi-x-lg"></span></a>
            <!-- End model close -->
            <div class="row quickview-content" id="quickview-inner">
            <!-- loaded from js -->
            </div>
            <!--End-product-single-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Quick View popup-->