<ul class="list--inline site-footer__social-icons social-icons">
    <li><a class="social-icons__link" href="#" target="_blank" title="Softpico Template on Facebook"><i class="icon bi bi-facebook"></i></a></li>
    <li><a class="social-icons__link" href="#" target="_blank" title="Softpico Template on Twitter"><i class="icon bi bi-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
    <li><a class="social-icons__link" href="#" target="_blank" title="Softpico Template on Pinterest"><i class="icon bi bi-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
    <li><a class="social-icons__link" href="#" target="_blank" title="Softpico Template on Instagram"><i class="icon bi bi-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
    <li><a class="social-icons__link" href="#" target="_blank" title="Softpico Template on YouTube"><i class="icon bi bi-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
    <li><a class="social-icons__link" href="#" target="_blank" title="Softpico Template on Vimeo"><i class="icon bi bi-vimeo"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
</ul>