td.cart__update-wrapper {
    width: 200px;
}
button.qty.plus:before {
    content: "\f4fe";
    font-family: 'bootstrap-icons';
}
button.qty.minus:before {
    content: "-";
    font-family: inherit;
}
.qtyField input::-webkit-outer-spin-button,
.qtyField input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.qtyField input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.slick-slide {
    padding: 0 8px;
    box-sizing: border-box;
}
.cart-item__error-text:empty+svg {
    display: none;
}
.cart-item__error-text+svg {
    width: 1.2rem;
    margin-right: .7rem;
}
.cart-item__error {
    font-size: 1.2rem;
    display: flex;
}
.cart-item__details>*+* {
    margin-top: .8rem;
}
.cart-item__details>* {
    margin: 0;
    max-width: 30rem;
}