<div class="page-template">
  <div class="container">
    <div class="page-header text-center py-4">
      <h2>{{ page.title }}</h2>
    </div>
    <div class="page-content my-5">
      {{ page.content }}
    </div>
  </div>
</div>